@page "/"
@inject HttpClient Http

<PageTitle>Blazing Trails</PageTitle>

@if (trails == null)
{
    <p>Loading trails...</p>
}
else
{
    <div class="grid">
    @foreach (var trail in trails)
        {
            <TrailCard Trail="trail"/>
        }
    </div>
}


@code {

    private IEnumerable<Trail>? trails;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            trails = await Http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading trail data: {ex.Message}");
        }
    }
}
